body {
    font-family: sans-serif;
    padding: 15px;
    width: 250px;
  }
  
  input, select, button {
    width: 100%;
    margin-top: 10px;
    padding: 8px;
  }
  
  #resultText {
    margin-top: 15px;
    font-weight: bold;
  }
  